body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header,
.center {
  text-align: center;
}

.questions-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.questions-container-div {
  padding-left: 10%;
  padding-right: 10%;
}

.question-card {
  width: 12em;
  height: 20vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: rgba(255, 0, 0, 0.16) 2px 4px 15px 5px,
    rgba(255, 14, 14, 0.3) 0px 0px 1px 0px;
}

.question-type-heading {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.header {
  background-color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
  margin-top: 0;
  font-size: larger;
  font-weight: bolder;
}

.question-author {
  font-weight: bolder;
}

.question-timestamp {
  color: gray;
  font-size: small;
}

.question-show-button-div {
  margin-top: 3em;
}

.question-option {
  /* border: 1px solid black; */
  border-radius: 9px;
  padding: 35px;
  overflow: clip;
  min-width: 30%;
  box-shadow: rgba(0, 0, 0, 0.6) 0 1px 3px 0;
}
.question-options {
  display: flex;
  justify-content: space-around;
}
.question-option-percentage-div {
  display: flex;
  justify-content: center;
}

.question-option-percentage {
  width: 60%;
  border: 0.1rem solid rgb(230, 135, 10);
  border-radius: 5px;
  margin-top: 15px;
}

.question-option-percentage-show {
  background-color: #f57926;
  color: whitesmoke;
}

.question-option-percentage-show p {
  margin: 0;
  font-weight: 700;
  padding-top: 10px;
  min-height: 50px;
}

.question-text {
  margin-bottom: 70px;
  font-weight: 500;
}

.selected-answer {
  color: #aaaaaa;
  margin-top: 10px;
  font-style: italic;
}

.poll-by {
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav {
  background-color: #fa6400;
}

.nav-div {
  display: flex;
  justify-content: space-between;
}

.nav-right {
  margin-right: 10px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav li:first-child {
  padding-left: 0;
  margin-left: 10px;
}

.nav li a {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #252525;
}

.active-nav {
  border-bottom: 5px solid #ece0e0;
}

.leaderboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.leaderboard-table {
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
}

.leaderboard-table td {
  border: 1px solid black;
  width: 20%;
  padding: 20px;
}

.leaderboard-table thead {
  background-color: #f0e7e7;
  font-weight: 900;
  color: #fa6400;
}

.leaderboard-table td:first-child {
  width: 60%;
}

.leaderboard-user {
  display: flex;
  justify-content: flex-start;
}

.leaderboard-username {
  font-weight: 900;
  font-size: 22px;
}

.leaderboard-userid {
  color: rgb(66, 63, 63);
  font-size: 14px;
  margin-top: 5px;
}

.leaderboard-user-details {
  margin-left: 10px;
}

.avatar-small {
  width: 50px;
  height: 50px;
}

.avatar-smaller {
  border-radius: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.new-question {
  padding-left: 10%;
  padding-right: 10%;
}
.new-question h3 {
  font-size: xx-large;
  margin-bottom: 15px;
}

.create-poll-text {
  color: #777777;
}

.new-question-options {
  text-align: center;
  margin-top: 50px;
}

.new-question-options input {
  margin-top: 10px;
  width: 80%;
  font-size: 20px;
}

.new-question-options label {
  font-weight: 600;
}

.login-submit-button,
.submit-button {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.login {
  text-align: center;
}

.login input {
  width: 30%;
  margin-left: 20px;
  margin-top: 10px;
  font-size: larger;
}

.wrong-password-alert-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 5px;
}

.wrong-password-alert {
  text-align: center;
  background: rgb(223, 123, 123);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0 0 15px 5px #ccc;
  border-left: 5px solid red;
  border-radius: 5px;
}

/* https://getcssscan.com/css-buttons-examples
  button css
*/
.question-show-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.question-show-button:hover,
.question-show-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.question-show-button:hover {
  transform: translateY(-1px);
}

.question-show-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.question-show-button:disabled {
  background-color: #92918f;
  cursor: default;
}
